<main class="{{CG_profile-view}}">
  <div class="{{CG_profile-view elem='avatar-wrapper'}}">
    {{> avatar src=src alt='avatar' }}
  </div>
  <div class="{{CG_profile-view elem='rows'}}">
    {{> static-input label='Почта' value=email }}
    {{> static-input label='Логин' value=login }}
    {{> static-input label='Имя' value=first_name }}
    {{> static-input label='Фамилия' value=second_name }}
    {{> static-input label='Телефон' value=phone }}
  </div>
  <div class="{{CG_profile-view elem='buttons'}}">
    {{> button id=editProfileBtnId value='Изменить данные' className=(CG_profile-view elem='button') }}
<!--    {{> button id=editPasswordBtnId value='Изменить пароль' disabled=true className=(CG_profile-view elem='button') }}-->
  </div>
  <div class='back-link'>
    {{> link href='/chats' value='Вернуться к чатам' }}
  </div>
</main>

