<button
  class="{{CG_button
    modifiers=(CG_button-modifiers withIcon=withIcon fullWidth=fullWidth variant=variant) className=className}}"
  {{#if disabled}}
  disabled
  {{/if}}
  id={{id}}
>
  {{value}}
</button>
