<button
        class="{{CG_button
                modifiers=(CG_button-modifiers fullWidth=fullWidth variant=variant) }} {{className}}"
    {{#if disabled}}
        disabled
    {{/if}}
        id={{id}}
>
    {{value}}
</button>
