<div class='{{CG_message-group-by-date}}'>
  <div class='{{CG_message-group-by-date elem='date'}}'>{{date}}</div>
  {{#each messages}}
    {{> message time=this.time user_id=user_id text=this.content fromMe=this.fromMe isRead=this.isRead className=(CG_message-group-by-date elem='message') }}
  {{/each}}
</div>
