.auth {
  height: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    margin-top: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 20px;
  }

  &__inputs-wrapper {
    width: 100%;
    margin-bottom: 60px;

    .auth-input:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
