@import 'src/styles/colors';
@import 'src/styles/common';

.chats {
  display: flex;
  height: 100%;

  &__chat-list {
    width: 280px;
    min-width: 280px;
    height: 100%;
    background: $grayBlue;
    overflow: auto;
    box-shadow: 2px 0 6px rgba($white, 0.1);
  }

  .loader-wrapper {
    height: calc(100% - #{$chatsHeaderHeight});
  }
}
