@import '../../styles/colors';

.chats {
  display: flex;
  height: 100%;

  &__chat-list {
    width: 280px;
    min-width: 280px;
    border-right: 1px solid $smokyWhite;
    height: 100%;
    background: $grayBlue;
  }

  &__messages {
    width: 100%;
  }
}
