<div id='{{id}}'
  class='{{CG_avatar modifiers=(CG_avatar-modifiers size=size) className=className}}'
>
  <img class='{{CG_avatar elem='img'}}' src='https://ya-praktikum.tech/api/v2/resources/{{src}}' onerror="this.style.visibility='hidden'"/>
</div>


