@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #44384E, #2D3655);
    font-family: 'Inter', sans-serif;
    color: #fff;
}