<main class="{{CG_not_found_page}}">
    <div class="{{CG_not_found_page elem='title'}}">404</div>
    <div class="{{CG_not_found_page elem='subtitle'}}">Такой страницы не существует</div>
    {{> link href='/' value='Назад к чатам' }}
</main>
