<div class="{{CG_not_found_page elem='wrapper'}}">
    <div class="{{CG_not_found_page elem='title'}}">404</div>
    <div class="{{CG_not_found_page elem='subtitle'}}">Такой страницы не существует</div>
    <div id="not-found-back_btn" class="{{CG_not_found_page elem='link'}}">
        Назад к чатам
    </div>
</div>